mat-card-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-card-title {
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
  margin-left: 20px;
}
