.register-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.file-upload {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-flat-button {
  background-color: lightgray;
}
